Tema 1 Introduccion a los lenguajes de marcas y XML - copia/DTD/exmn.dtd/j2.xml

<!ELEMENT Libro (Titulo,Seccion,Contenido,Copyright)>
<!ATTLIST Libro Catalogo NMTOKEN #REQUIRED>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Seccion (#PCDATA)>
<!ELEMENT Contenido (Capitulo)>
<!ELEMENT Capitulo (Tema)>
<!ATTLIST Capitulo materia NMTOKEN #REQUIRED>
<!ELEMENT Tema (#PCDATA)>
<!ELEMENT Copyright (#PCDATA)>